<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <%= title %>
            <a href="admin/add_random_book">Add random book</a>
        </div>

        <% for (let i=0; i<nav.length; i++) { %>
            <li>
                <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
            </li>
        <%}%>

        <h1>Books</h1>
        <% for (let i=0; i<books.length; i++) { %>
            <li>
                <a href="/books/<%=books[i]._id%>"><%=books[i].title%></a>
            </li>
        <%}%>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>